<footer>
  <section class="footer-summary bg-dark text-white ">
    <div class="container-fluid">
        <ul class="footer-nav">
            <li>
                <div class="logo"><a href="{{ '/' | relative_url }}"><img src="assets/images/upvision-logo.png"> </a></div>
                <div class="logo-statement">
                   <p>
                    As the world has pacing towards digitalization, every kind of businesses require digitized platform to work. Here at UPVISION SSL, having experience and experties in latest tech, we stand to help you sync with digitized world.
                   </p>
                </div>
            </li>
            <li>
                <h5 class="click-head open-internal-link">Important Links</h5>
        
                <ul class="internal-link">
                    <li><a href="{{ '/about-us' | relative_url }}">About us</a></li>
                    <li><a href="#">We are hiring</a></li>
                    <li><a href="{{ '/enquiry' | relative_url }}">Get answers</a></li>
                    <li><a href="{{ '/privacy' | relative_url }}">Privacy policy</a></li>
                </ul>
            </li>
        </ul>
    </div>  
    <div class="container-fluid py-3 pt-4">
        <p class="copyright">
                <span class="cr-text">&copy; 2019  UpVision Software Services Private Limited. | Some Address To Display </span>
        </p>
        <div>
            <a id="quote-request" href="{{ '/enquiry' | relative_url }}" data-toggle="tooltip" data-container="div.top-bar" data-placement="left" data-original-title="Request a Quote" class="fa fa-handshake-o quote-icon-effect"></a>
        </div>
        <div class="scroll-to-top">
            <a id="ScrollToTop" href="#" class="fa fa-chevron-up circular-icon-effect" data-toggle="tooltip" data-placement="left" data-original-title="Click to return to top">Scroll To Top</a>
        </div>
    </div>
  </section>
</footer>