<section class="get-in-touch">
    <div class="overlay"></div>
    <div class="container py-5">
        <h2 class="text-center display-4">Get in touch</h1>
            <p class="text-center lead">
                To discuss how we can serve you, please get in touch and ask your question or request more information.
                <br />
                Our team will be happy to work with you.
            </p>
            <p class="text-center pt-3">
                <a class="btn btn-upvision" href="{{ '/enquiry' | resolve_url }}"><i class="fa-solid fa-handshake pe-2"></i>Get in touch</a>
            </p>
    </div>
</section>