<header>
  <div class="top-bar">
      <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="contact">
                <ul>
                  <li><a href="tel:+919586554748" data-toggle="tooltip" data-container="div.top-bar" data-placement="right" title="Sales +91-958-655-4748"><i class="fa fa-phone-square"></i><span class="pl-1">Sales +91-958-655-4748</span></a></li>
                  <li><a href="mailto:info@upvision.in" data-toggle="tooltip" data-container="div.top-bar" data-placement="right" title="info@upvision.in"><i class="fa fa-envelope-o"></i><span class="pl-1">info@upvision.in</span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="social">
                <ul>
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://in.linkedin.com/in/shitalpatel1"><i class="fa fa-linkedin"></i></a></li> -->
                  <li><a href="skype:shital.skype?chat"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right hamburger-button x" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger-button-lines"></span>
      </button>

      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="assets/images/logo/UpVision.FullLogo.H128.png" alt="">
        <img src="assets/images/logo/UpVision.OneLinerLogo.H64.png" alt="" class="shrink-only">
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="main-navbar">
        <ul class="navbar-nav">
          <li class="nav-item {% if page.title == 'Home' %} active {% endif %}"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
          <li class="nav-item {% if page.title == 'About us' %} active {% endif %}" ><a class="nav-link" href="{{ '/about' | relative_url }}">About Us</a></li>
          <li class="nav-item {% if page.title == 'Services' %} active {% endif %}"><a class="nav-link" href="{{ '/services' | relative_url }}">Services</a></li>
          <li class="nav-item {% if page.title == 'Careers' %} active {% endif %}"><a class="nav-link" href="{{ '/careers' | relative_url }}">Careers</a></li>
          <li class="nav-item {% if page.title == 'Contact Us' %} active {% endif %}"><a class="nav-link" href="{{ '/contact' | relative_url }}">Contact Us</a></li>
        </ul> 
      </div>
    </div>
  </nav>
</header>