<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="contact">
                    <ul>
                        <li>
                            <a href="tel:+919586554748" data-toggle="tooltip" data-container="div.top-bar" data-placement="right" title="Sales +91-958-655-4748">
                                <i class="fa-solid fa-phone-square"></i><span class="pl-1">Sales +91-958-655-4748</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@upvision.in" data-toggle="tooltip" data-container="div.top-bar" data-placement="right" title="info@upvision.in">
                                <i class="fa-solid fa-envelope"></i><span class="pl-1">info@upvision.in</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="social">
                    <ul>
                        <!--
						<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
						<li><a href="https://in.linkedin.com/in/shitalpatel1"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="skype:shital.skype?chat"><i class="fa-brands fa-skype"></i></a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>