// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

.cards-about-us {
  .card {
    background-color: transparent; border: none; padding: 1rem 0;

    .card-body {
      text-align: center;

      i { color: $brand-color-green; vertical-align: middle; }
      span { vertical-align: middle; font-weight: 400; color: white; white-space: nowrap; }
    }
  }
}

.cards-values {
  .card {
    margin: 0.5rem;
    background: transparent;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.30);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.30);

    &:hover {
      -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.20);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.20);
    }

    .card-img-top {
      width: 160px; height: 160px;
      margin: 1.5rem auto 1rem auto; padding: 1rem;
      background: #fff; border-radius: 50%;
      -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.5);
    }

    .card-title { padding-bottom: 1rem; }

    .card-body {
      border-radius: 0 0 0.5rem 0.5rem; padding: 1.25rem;
      background: #fff; text-align: justify;
    }
  }
}

.cards-values .col:nth-child(1) .card { background: #f6e9d8; }
.cards-values .col:nth-child(2) .card { background: #f8e4f3; }
.cards-values .col:nth-child(3) .card { background: #e6f3ec; }
.cards-values .col:nth-child(4) .card { background: #e9e7fb; }
.cards-values .col:nth-child(5) .card { background: #ececec; }
.cards-values .col:nth-child(6) .card { background: #dfeef7; }
