.wiki-link i {
  font-size: 12px;

  &:first-of-type {
    padding-right: 4px;
    color: black;
  }

  &:last-of-type {
    padding-left: 8px;
  }
}

.observed-holiday-arrow {
  position: relative;
  padding-left: 44px !important;

  &::before {
    content: "";
    background: url("../../assets/images/arrow.png") no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: 6px;
  }
}
