.wiki-link i {
  font-size: 12px;

  &:first-of-type {
    padding-right: 4px;
    color: black;
  }

  &:last-of-type {
    padding-left: 8px;
  }
}

.observed-holiday-arrow {
  position: relative;
  padding-left: 44px !important;

  &::before {
    content: "";
    background: url("../../assets/images/arrow.png") no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: 6px;
  }
}

.fullcalendar-year-compact {
  min-height: 920px;  /* To fix the height issue when fullcalendar is loaded on bootstrap tab change */

  .fc-multimonth-month {
    padding: 8px 16px !important;  /* Reduced the padding on the month */

    .fc-multimonth-title {
      padding: 8px 0;  /* To fix the unnecessary height. Will bring down the overall size of the yearly calendar */
    }
    .fc-bg-event {
      opacity: 1 !important;  /* To fix the color on the highlighted holidays */
    }
  }
}
