// -----------------------------------------------------------------------------
// This file contains styles that are specific to the services page.
// -----------------------------------------------------------------------------

@media screen and (max-width: 767px) {
  #services section div.row {
    text-align: center;
    padding-top: 5px;
  }
  #services section div.row ul {
    display: inline-block;
    text-align: left;
  }
}

.service-icon {
  width: 72px;
  height: 72px;
  position: relative;
  top: -5px;
}

.slick-list-skills.no-javascript {
  div {
    float: left;

    img {
      width: 96px;
      height: 96px;
      padding: 16px;
      display: block;

      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);

      -moz-transition: transform 400ms ease 0s, padding 400ms ease 0s;
      -o-transition: transform 400ms ease 0s, padding 400ms ease 0s;
      -webkit-transition: transform 400ms ease 0s, padding 400ms ease 0s;
      transition: transform 400ms ease 0s, padding 400ms ease 0s;
    }

    &:hover {
      img {
          cursor: pointer;
          padding: 8px;

          -moz-transform: translate3d(0,0,0) scale(1.16667);
          -ms-transform: translate3d(0,0,0) scale(1.16667);
          -o-transform: translate3d(0,0,0) scale(1.16667);
          -webkit-transform: translate3d(0,0,0) scale(1.16667);
          transform: translate3d(0,0,0) scale(1.16667);
      }
    }
  }
}
.get-in-touch {
    background: url(../images/pages/bg-abstract-triangles.png) #0D173F 50% 50% no-repeat;
    position: relative;
    color: white;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
    }
  }