// fullcalendar customizations...
.fc .fc-timeline-slot.fc-day-today { background-color: var(--fc-today-bg-color); }

// tippy customizations...
.tippy-content { font-size: 10px; }

// veritone-schedule styles...
.veritone-schedule {
    .container-fluid {
        div { font-size: 12px; }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;

            .timezone {
                span { font-weight: bold; }
                select { font-size: 0.75rem; }
                a { display: inline-block; white-space: nowrap; }
            }

            .members {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .selection {
                    text-align: left;

                    @media screen and (min-width: 768px) {
                        text-align: right;
                    }
                }
                
                button {
                    padding: 0 4px;
                    font-size: 0.75rem;
                    height: 20px;
                }
            }

            ul {
                padding: 2px 0;
                margin: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    height: 14px;
                    padding: 2px 8px 2px 0;

                    input[type="checkbox"],
                    input[type="checkbox"]+label {
                        cursor: pointer;
                        user-select: none;
                    }

                    label {
                        margin-left: 2px;
                        padding: 0 4px;
                        border-radius: 4px;
                    }
                }
            }
        }

        #calendar { height: 55vh; }
    }
}