/*********** slick-list ****************/

.slick-slider .slick-list {
    margin: 0 4rem 0 4rem;
  }

  .slick-list h4 {
    visibility: hidden;
    text-align: center;
  }
  
  .slick-list img {
    width: 100%;
    /* margin-left:-5%; */
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: block;
    -moz-transition: transform 400ms ease 0s;
    -o-transition: transform 400ms ease 0s;
    -webkit-transition: transform 400ms ease 0s;
    transition: transform 400ms ease 0s;
  }

  .slick-list img:hover {
    cursor: pointer;
    -moz-transform: translate3d(0,0,0) scale(1);
    -ms-transform: translate3d(0,0,0) scale(1);
    -o-transform: translate3d(0,0,0) scale(1);
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
  }
  
  .slick-list .slick-center h4 {
    visibility: visible;
  }
  
  .slick-list .slick-center img {
    pointer-events: none;
    -moz-transform: translate3d(0,0,0) scale(1);
    -ms-transform: translate3d(0,0,0) scale(1);
    -o-transform: translate3d(0,0,0) scale(1);
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
  }
  

  .slick-slider .slick-prev { position: absolute; top: 38px; left: 8px; }
  .slick-slider .slick-next { position: absolute; top: 38px; right: 8px; }

  .slick-slider .slick-prev:before { content: "\f053"; margin-left: -2px; }
  .slick-slider .slick-next:before { content: "\f054"; margin-left: 2px; }

  .slick-slider .slick-arrow {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    outline: none;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    text-align: center;
    font-family: 'FontAwesome';
    z-index: 1;
    background: $mid-grey;
    color: $dark-grey;
    -webkit-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
  }
  
  .slick-slider .slick-arrow:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    top: -2px;
    left: -2px;
    padding: 2px;
    background: $brand-color-blue;
    color: #fff;
    z-index: -1;
    -webkit-transition: transform 0.2s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.2s;
    transition: opacity 0.3s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s, -webkit-transform 0.2s;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
  
  .slick-slider .slick-arrow:before {
    font-size: 16px;
    line-height: 30px;
    display: block;
  }
  
  .slick-slider .slick-arrow:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .slick-slider .slick-arrow:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  .slick-slider .slick-list .slick-track .slick-slide {
    outline: none;
  }
  