<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  {% seo %} <!--  This plugin generates title, description, author and open graph tags -->

  <link rel="shortcut icon" href="{{ '/assets/images/ico/favicon.ico' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/images/ico/apple-touch-icon-144-precomposed.png' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/assets/images/ico/apple-touch-icon-114-precomposed.png' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/assets/images/ico/apple-touch-icon-72-precomposed.png' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" href="{{ '/assets/images/ico/apple-touch-icon-57-precomposed.png' | relative_url }}">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVJB924X7H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BVJB924X7H');
  </script>
  <!-- End Google tag (gtag.js) -->

  <link rel="stylesheet" href="{{ '/assets/libs/bootstrap-5.3.3/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/libs/font-awesome/css/fontawesome.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/libs/font-awesome/css/brands.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/libs/font-awesome/css/solid.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/libs/slick-1.8.1/slick.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/libs/wow/animate.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

  <script type="application/javascript" src="{{ '/assets/libs/jquery/jquery-3.7.1.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/popper/popper.2.11.8.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/bootstrap-5.3.3/js/bootstrap.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/slick-1.8.1/slick.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/wow/wow.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/isotope-3.0.6/isotope.pkgd.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/appear/jquery.appear.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/shuffleLetters/jquery.shuffleLetters.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/tippy/tippy-bundle.umd.6.3.7.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/moment/moment.2.30.1.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/moment/moment-timezone-with-data.0.5.45.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/rrule/rrule.2.8.1.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/fullcalendar-6.1.15/fullcalendar/index.global.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/fullcalendar-6.1.15/fullcalendar-scheduler/index.global.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/fullcalendar-6.1.15/plugins/moment-timezone/index.global.min.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/libs/fullcalendar-6.1.15/plugins/rrule/index.global.min.js' | relative_url }}"></script>
</head>

<body>
  {{content}}

  <script type="application/javascript" src="{{ '/assets/js/shuffleBanner.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/js/slicklist.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/js/isotope.js' | relative_url }}"></script>
  <script type="application/javascript" src="{{ '/assets/js/upvision.js' | relative_url }}"></script>

  <script type="text/javascript">
    $(function () {
      if (typeof main !== 'undefined') {
        main.initialize();
      }
    });
  </script>
</body>

</html>