/**
 * Basic typography style for copy text
 */
 

html, body, p, div, button, input, optgroup, select, textarea { font-family: $text-font-default; font-size: 16px; }

body { color: $text-color; }

h1, h2 { font-family: $text-font-heading; }
h3, h4, h5, h6 { font-family: $text-font-default; }

p.content { text-align: justify; }

.tooltip-inner { font-size: 0.8rem; }

h1 {
  font-size: $font-size-1;
  margin: 0.5em 0;
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: $font-size-2;
  margin-bottom: 0.5em;
  font-weight: 500;
}
h3 {
    font-size: $font-size-3;
    margin: 0.45em 0;
    font-weight: 500;
}
.display-4{
    font-size: $font-size-1;
    font-weight: 500;
    line-height: 1.2;
}